.comment {
  display: flex;
  gap: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  padding-top: 40px;
}
.star {
  padding: 24px 0px;
}
.commentContainer {
  display: flex;
  gap: 16px;
}
.commentInput {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.commentInput > input {
  width: 312px;
  height: 48px;
  display: flex;
  padding: 12px 16px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid #d4d3d3;
}
.textInput {
  width: 100%;
  height: 144px;
  padding: 12px 16px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #d4d3d3;
  margin: 16px 0px;
  resize: none;
}
.commentbutton {
  display: flex;
  justify-content: center;
  width: 99px;
  height: 48px;
  align-items: center;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #C7C7C7;
  color: #e4e4e4;
}

.commentbutton > button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
  background-color: #C7C7C7;
  color: #e4e4e4;
}

.commentbutton > button:not(:disabled) {
  background-color: black;
  color: white;
}

.commentbuttonActive {
  background-color: black;
  color: white;
}
