.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  gap: 16px;
}

.pageButton {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.pageButtonActive {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 8px;
}
