.container {
  max-width: 1280px;
  width: 100%;
  border-radius: 16px;
  background: #fff;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
}
.boardsContainer {
  max-width: 1184px;
  width: 100%;

  margin: 24px 48px;
}
.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;

  font-size: 16px;
  font-weight: 500;
}
.rightGroup,
.leftGroup {
  display: flex;
  align-items: center;
  gap: 8px;
  text-align: center;
}
.leftGroup span {
  width: 64px;
  height: 20px;
}
.leftGroup span:last-child {
  width: 848px;
  text-align: left;
}

.rightGroup span {
  width: 100px;
  height: 20px;
}
.postItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid #f2f2f2;
  font-size: 14px;
  margin-bottom: 12px;
  position: relative;
}

.deleteBtn {
  position: absolute;
  right: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
  background: none;
  border: none;
  cursor: pointer;
}

.postItem:hover .deleteBtn {
  opacity: 1;
}
