.comment {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.commentWriter {
  display: flex;
  gap: 8px;
}
.commentContents {
  padding: 8px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.hr {
  margin: 40px 0px;
}
